export DBNAME='watchman'
export DBUSER='watchman'
export DBPASSWORD='watchman'
export DBHOST='localhost'
export ICANN_USERNAME='username@example.com'
export ICANN_PASSWORD='Abcdef#12345678'
export MAX_WORKERS=4
