export DBNAME='watchman'
export DBUSER='watchman'
export DBPASSWORD='watchman'
export DBHOST='localhost'
export ICANN_USERNAME='username@example.com'
export ICANN_PASSWORD='Abcdef#12345678'
export MAX_WORKERS=2
export ENABLED_ZONES="app bbc biz blog careers cheap click data dev docs email eus gov inc info jobs java kosher law llc link lol mov net new ninja one online org page pay pics pro realtor run security shop site store sucks team tech technology tel top website work wtf xyz vip you zip com"
export VT_APIKEY=''
export BASE_URL='http://localhost'
export DOMAIN_BUCKET_NAME='domainlist'
export NEWDOMAIN_BUCKET_NAME='newdomainlists'
export AWS_ACCESS_KEY_ID=''
export AWS_SECRET_ACCESS_KEY=''
export REGION_NAME='us-east-1'